%p#notice= notice

%p
  %b Name:
  = @text.name
%p
  - @picture_langs.each do |pl|
    %p
      %b the title:
      = pl.title
      %br
      %b the translation:
      = pl.lang

= link_to 'Edit', edit_text_path(@text)
\|
= link_to 'Back', texts_path