%div.user-menu
    = link_to t(:published), dashboard_index_path(:status => "published")
    = link_to t(:inprogress), dashboard_index_path(:status => "in_progress")
    = link_to t(:pending), dashboard_index_path(:status => "pending")
    = link_to t(:new), dashboard_index_path(:status => "new")
    = link_to t(:rejected), dashboard_index_path(:status => "rejected")
    = link_to t(:userdirectory), users_path
