/= simple_form_for @user do |f|
/  .field
/    = f.label "First Name"
/    = f.text_field :first_name
/  .field
/    = f.label "Last Name"
/    = f.text_field :last_name
/  .field
/    = f.label "E-mail"
/    = f.text_field :email
/  .field
/    = f.label "Password"
/    = f.password_field :password
/  .field
/    = f.label "Password Confirmation"
/    = f.password_field :password_confirmation
/  .field
/    = f.collection_radio_buttons :role, [["Manager", "Manager"], ["Editor", "Editor"], ["Tech", "Tech"]], :first, :last
/  .field
/    = f.collection_radio_buttons :lang, [["English", "English"], ["French", "French"], ["Creole", "Creole"], ["Spanish", "Spanish"]], :first, :last
/  .actions
/    = f.submit 'Save'
= form_for @form_type, :url => @url do |form|
  - User::REQUIRED_FIELDS.each do |field|
    - if field == :lang
      %text Language: 
      - Item::LANGUAGES.each do |lang|
        = form.radio_button field, lang, :checked => @defaults[field][lang]
        = lang
    - elsif field =~ /pass/
      - if @form_type == :new_user
        %text= field.to_s.sub("_"," ").capitalize + ':'
        = form.password_field field
    - else
      %text= field.to_s.sub("_"," ").capitalize + ':'
      - if field == :role
        - User::ROLES.each do |role|
          = form.radio_button field, role, :checked => @defaults[field][role]
          = role
      - else
        = form.text_field field, :value => @defaults[field]
    %br
  = form.submit @button_text
- if @editing_self
  = link_to 'Change Password', "/dashboard/users/#{@user.id}/password"

