%ul.nav.nav-pills
    %li= link_to t(:published), dashboard_index_path(:status => "published")
    %li= link_to t(:inprogress), dashboard_index_path(:status => "in_progress")
    %li= link_to t(:pending), dashboard_index_path(:status => "pending")
    %li= link_to t(:new), dashboard_index_path(:status => "new")
    %li= link_to t(:rejected), dashboard_index_path(:status => "rejected")
    %li= link_to t(:usermanagement), users_path
    %li= link_to t(:tags_management), tags_path
    %li= link_to t(:editprofile), edit_user_path(:id => current_user.id)

