%header.navbar
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        /%span.icon-bar
      /.navbar-brand
      .pull-left
        %img{:src => "/assets/Logo#{locale_to_word}.jpg", :style =>"width:300px;"}
    %nav.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t(:home), '/'
        %li= link_to t(:about), {:controller => '/pages', :action => 'about'}
        %li= link_to t(:news), 'https://sites.google.com/site/leblogosphere/'
        %li= link_to t(:contact), {:controller => '/pages', :action => 'contact'}
        %li= link_to t(:donations_title), {:controller => '/pages', :action => 'donate'}
        //%li= link_to t(:dashboard), dashboard_index_path
        %li.languages.dropdown
          %a.dropper{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'} 
            %img{:src => "/assets/#{locale_to_word.capitalize}-32.png"}
            %b.caret
          %ul.dropdown-menu
            %li= link_to '', {:locale => 'en'}, {:id => 'EnglishFlag'}
            %li= link_to '', {:locale => 'fr'}, {:id => 'FrenchFlag'}
            %li= link_to '', {:locale => 'ht'}, {:id => 'CreoleFlag'}
            %li= link_to '', {:locale => 'es'}, {:id => 'SpanishFlag'}
        - unless current_user
          %li= link_to t(:login), new_user_session_path, { :class => 'auth' }
        - else 
          %li= link_to t(:logout), sessions_logout_path, { :class => 'auth' }
      %br
      %br
      %br
      .pull-right
        = form_tag search_path, :method => 'get' do
          %p
            = text_field_tag :search, params[:search]
            = submit_tag t(:search), :name => nil
    - if user_signed_in?
      = render "partials/dashboard_nav_#{current_user.role}"
    / =======
    /           %li
    /             %a.dropper{:href => '#', :class => 'dropdown-toggle', 'data-toggle' => 'dropdown'}
    /               = "#{current_user.name}"
    /               %b.caret
    /             %ul.dropdown-menu
    /               %li= link_to t(:logout), sessions_logout_path, { :class => 'auth' }
    /               %li= link_to t(:editprofile), edit_user_path(:id => current_user.id)
    
    / >>>>>>> master
