.video_partial
  / = image_tag '/assets/video_icon.png'
  %h2= video.name
  %p
  author:
  = video.author
  %br
  =video.date
  -video.video_langs.each do |vl|
    - if vl.published
      %p{:class => "published"}= vl.lang
    - else
      %p{:class => "notpublished"}= vl.lang


  %br
  = link_to 'Show', video
  = link_to 'Edit', edit_video_path(video)
  = link_to 'Destroy', video, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
