/= select_tag(:option, options_for_select([["Bug", 1], ["Comment", 2], ["Question", 3]], selected: :option ))
= form_tag({:action => 'email'}, method: "post") do

	.field
		= label_tag :name
		= text_field_tag :name

	.field
		= label_tag :phone_number
		= text_field_tag :phone_number

	.field
		= label_tag :subject
		= select_tag(:option, options_for_select(["Bug", "Comment", "Question"], selected: :option ))

	.field
		= label_tag :email
		= text_field_tag :email

	.field
		= label_tag :reason
		= text_area_tag :reason

	%br
	= submit_tag "Submit"