/= select_tag(:option, options_for_select([["Bug", 1], ["Comment", 2], ["Question", 3]], selected: :option ))
= form_tag({:action => 'email'}, method: "post") do
  = raw negative_captcha(@captcha)
  .contact_us
    = negative_label_tag(@captcha, :name, "#{t(:name)}:")
    = negative_text_field_tag(@captcha, :name)
    = negative_label_tag(@captcha, :phone_number, "#{t(:phone_number)}:")
    = negative_text_field_tag(@captcha, :phone_number)
    = negative_label_tag(@captcha, :subject, "#{t(:subject)}:")
    = select_tag(:option, options_for_select(["Bug", "Comment", "Question"], selected: :option ))
    = negative_label_tag(@captcha, :email, "#{t(:email)}:")
    = negative_text_field_tag(@captcha, :email)
    = negative_label_tag(@captcha, :reason, "#{t(:reason)}:")
    = negative_text_area_tag(@captcha, :reason)
    %br
    %br
    = submit_tag "#{t(:submit)}"