/ .jumbotron
/   %h2= t(:underconstruction)
/   %p= t(:welcomemessage) 
.row
  .pull-left.home-icon
    = image_tag 'text_icon.gif'
    %h2= link_to t(:texts), texts_path
  .pull-left.home-icon
    = image_tag 'picture_icon.gif'
    %h2= link_to t(:pictures), pictures_path
  .pull-left.home-icon
    = image_tag 'video_icon.gif'
    %h2= link_to t(:video), videos_path
  .pull-left.home-icon
    = image_tag 'sound_icon.gif'
    %h2= link_to t(:audio), sounds_path
  .pull-left.home-icon
    = image_tag 'binary_icon.gif'
    %h2= link_to t(:other), binaries_path

%h2 Onè respè ! Bienvenue ! Welcome ! ¡ Bienvenido!
%p{:style => "text-indent:5%;"} Sit pwojè Ayiti nan batay kont enpinite nan kouti. Men ou kapab konsilte dokiman ki deja disponib yo. Nap travay pou nou konplete tout ribrik yo.
%p{:style => "text-indent:5%;"} Le site Haïti lutte contre l'impunité est en construction. Vous pouvez consulter les documents déjà enregistrés. Nous travaillons à compléter toutes les rubriques.
%p{:style => "text-indent:5%;"} The site Haiti fights against impunity is under construction. You can consult all the documents already registered. We are working to complete all sections.
%p{:style => "text-indent:5%;"} El sitio web Haití lucha contra la impunidad está en construcción. Se pueden consultar los documentos ya registrados. Estamos trabajando para completar todas las secciones.

=image_tag 'background.jpg', :style => "width:100%;"

%p.text-info.text-center Dat lansman, 7 Fevriye 2014 - Mise en ligne le 7 février 2014 
%p.text-info.text-center Launched on February 7th, 2014 - Última vez en línea 07 de febrero 2014