/ #container
/   .rule_bl
/   #top
/     %h1{:class => "header-content"} Fighting Impunity in Haiti
/   .rule_bl
/   #splash
/     %p Hello, we are a group of activists, developers, students, and profesionals alike who are dedicated to fighting impunity for human rights violations in Haiti over the last century. Currently this site is a work in progress. We are working on making an eLibrary so most of the work currently is behind the scenes. If you are an editor or a manager you can log in below.
/     .button-holder
/       = link_to t(:login), sessions_login_path, :class => "btn btn-primary"

.jumbotron
  %h2 Under Construction
  %p We are a group of activists, developers, students, and profesionals alike who are dedicated to fighting impunity for human rights violations in Haiti over the last century. Currently this site is a work in progress. We are working on making an eLibrary so most of the work currently is behind the scenes. If you are an editor or a manager you can log in above.

.container
  .row
    .col-xs-4
      .homebox
        = image_tag 'text_icon.png'
        %h2= link_to 'Texts', texts_path
    .col-xs-4
      .homebox
        = image_tag 'photo_icon.png'
        %h2= link_to 'Pictures', pictures_path
    .col-xs-4
      .homebox
        = image_tag 'film_icon.png'
        %h2= link_to 'Video', videos_path
  .row
    .col-xs-4
      .homebox
        = image_tag 'audio_icon.png'
        %h2= link_to 'Audio', sounds_path
    .col-xs-4
      .homebox
        %h2= link_to 'Other', binaries_path
