%h1 Pages Index
%table.table.table-striped
  %tr
    %th= t(:title).capitalize
    %th= t(:actions)
    %th
    %th
  - @pages.each do |page|
    %tr
      %td= page.title
      %td= link_to t(:show), page
      %td= link_to t(:edit), edit_page_path(page)
      %td= link_to t(:destroy), page, :method => :delete, :data => { :confirm => t(:areyousure) }

= link_to t(:new), new_page_path