%tr
  %td.type-and-langs{ :align => 'center' }
    .type
      = image_tag("/assets/#{document.class.to_s.downcase}_icon.gif")
    .langs
      - document.send((document.class.to_s.downcase + "_langs").to_sym).sort.each do |dl|
        - if dl.status == "published"
          %img{:src => "/assets/#{dl.lang}-16.png", :height => "16", :width => "16"}
        - else
          %img{:src => "/assets/#{dl.lang}-gray-16.png"}
  %td.title-and-description
    - title_and_description = relevant_title_and_description(document, current_user)
    %h3= title_and_description[0]
    %h5= title_and_description[1]
  %td.date{ :align => 'center' }
    %p="#{t(:created)} #{pretty_date(document.date)}"
  %td.space
  %td.actions{ :align => 'center' }
    = link_to "#{t(:show)}", document 
    - if current_user
      = link_to "#{t(:edit)}", [:edit, document]
    - if @permissions == "Manager"
      = link_to "#{t(:destroy)}", [:destroy, document], :data => { :confirm => "#{t(:areyousure)}" }
