.doc_index_partial
  = image_tag '/assets/text_icon.png'
  %h2= document.relevant_title(document,@relevant_langs)
  %p
  = document.date
  - document.send((document.class.to_s.downcase + "_langs").to_sym).each do |dl|
    - if dl.status == "published"
      %p{:class => "published"}= dl.lang
    - else
      %p{:class => "notpublished"}= dl.lang


  %br
  = link_to t(:show), document 
  - if current_user
    = link_to t(:edit), [:edit, document]
  - if @permissions == "Manager"
    = link_to t(:destroy), [:destroy, document], :data => { :confirm => t(:areyousure) }
  %br
