= simple_form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg

  - if auth_to_edit_meta(@document)
    .field
      = f.label t(:date_string)
      = f.date_select :date, start_year: 1850, end_year: Date.today.year
    = render params[:type].singularize + '_form', :f => f
  - else
    %b= t(:date_string) + ":" 
    = @document.date
    %br 
    - if @doc_type == Text
      = f.hidden_field :subtype, :value => @text_subtype
      = render 'text_subtypes'
    - else
      = render 'show_' + @doc_type_sym.to_s, :document => @document
   
  %ul.nav.nav-tabs#language
    %li.active
      %a{ :href => '#English_tab', "data-toggle" => 'tab' }
        English
    %li
      %a{ :href => '#Spanish_tab', 'data-toggle' => 'tab' }
        Spanish
    %li
      %a{ :href => '#French_tab', 'data-toggle' => 'tab' }
        French
    %li
      %a{ :href => '#Creole_tab', 'data-toggle' => 'tab' }
        Creole

  .tab-content#langTabs
    = f.fields_for @langs_sym do |dl|
      - if dl.object.lang == "English"
        .tab-pane.active{ :id => "#{dl.object.lang}_tab"}
          - if auth_to_edit_lang(dl.object)
            %h4= dl.object.lang
            .field{:id => 'document_lang_' + dl.object.lang.downcase + '_title'}
              = dl.label t(:title).titleize + ":"
              = dl.text_field :title
            = dl.hidden_field :lang
            - if params[:type] == "texts"
              .field{:id => 'document_lang_' + dl.object.lang.downcase + '_plain_text'}
                = dl.label t(:plain_text).titleize + ":"
                = dl.text_area :plain_text, :class => 'ckeditor'
                = dl.file_field :txt
            .field{:id => 'document_lang_' + dl.object.lang.downcase + '_description'}
              = dl.label t(:description).titleize + ":"
              = dl.text_field :description, :size => 150
          - else
            %h4= dl.object.lang
            = dl.hidden_field :lang
            %b= t(:title).titleize + ":"
            = dl.object.title
            %br
            - if params[:type] == "texts"
              %b= t(:content).titleize + ":"
              %br
              = dl.object.plain_text.html_safe
            %b= t(:description).titleize + ":"
            %br
            = dl.object.description
            %br
          - if auth_to_edit_status(dl.object)
            .field{:id => 'document_lang_' + dl.object.lang.downcase + '_status'}
              = dl.label t(:status)
              = dl.select :status, Item.status_options(current_user)
          - else 
            - if user_signed_in?
              %b= t(:publication_status) + ":" 
              %b{:class => dl.object.status}= dl.object.status.humanize.titleize
      - else
        .tab-pane{ :id => "#{dl.object.lang}_tab"}
          - if auth_to_edit_lang(dl.object)
            %h4= dl.object.lang
            .field{:id => 'document_lang_' + dl.object.lang.downcase + '_title'}
              = dl.label t(:title).titleize + ":"
              = dl.text_field :title
            = dl.hidden_field :lang
            - if params[:type] == "texts"
              .field{:id => 'document_lang_' + dl.object.lang.downcase + '_plain_text'}
                = dl.label t(:plain_text).titleize + ":"
                = dl.text_area :plain_text, :class => 'ckeditor'
                = dl.file_field :txt
            .field{:id => 'document_lang_' + dl.object.lang.downcase + '_description'}
              = dl.label t(:description).titleize + ":"
              = dl.text_field :description, :size => 150
          - else
            %h4= dl.object.lang
            = dl.hidden_field :lang
            %b= t(:title).titleize + ":"
            = dl.object.title
            %br
            - if params[:type] == "texts"
              %b= t(:content).titleize + ":"
              %br
              = dl.object.plain_text.html_safe
            %b= t(:description).titleize + ":"
            %br
            = dl.object.description
            %br
          - if auth_to_edit_status(dl.object)
            .field{:id => 'document_lang_' + dl.object.lang.downcase + '_status'}
              = dl.label t(:status)
              = dl.select :status, Item.status_options(current_user)
          - else 
            - if user_signed_in?
              %b= t(:publication_status) + ":" 
              %b{:class => dl.object.status}= dl.object.status.humanize.titleize
  %br

  .field
    = f.association :tags, as: :check_boxes, label_method: :english

  - if user_signed_in?
    .field
      = f.label t(:notes)
      = f.text_field :notes, :rows => 10

  .actions
    = f.submit t(:save)

