= simple_form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :date
    = f.date_select :date

  = render params[:type].singularize + '_form', :f => f

  = f.fields_for @langs_sym do |dl|
    .field
      = dl.label :title
      = dl.text_field :title
    .field
      = dl.label :lang
      = dl.text_field :lang
    - if params[:type] == "texts"
      .field
        = dl.label :plain_text
        = dl.text_area :plain_text
    .field
      = dl.label :description
      = dl.text_field :description, :size => 150

  .field
    = f.association :tags, as: :check_boxes, label_method: :english

  .field
    = f.label :notes
    = f.text_field :notes, :rows => 10

  .actions
    = f.submit 'Save'

