= simple_form_for @document do |f|
  - if @document.errors.any?
    #error_explanation
      %h2= "#{pluralize(@document.errors.count, "error")} prohibited this document from being saved:"
      %ul
        - @document.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :date
    = f.date_select :date, start_year: 1850, end_year: Date.today.year

  = render params[:type].singularize + '_form', :f => f

  = f.fields_for @langs_sym do |dl|
    %h4= dl.object.lang
    .field{:id => 'document_lang_' + dl.object.lang.downcase + '_title'}
      = dl.label :title
      = dl.text_field :title
    = dl.hidden_field :lang
    - if params[:type] == "texts"
      .field{:id => 'document_lang_' + dl.object.lang.downcase + '_plain_text'}
        = dl.label :plain_text
        = dl.text_area :plain_text, :class => 'ckeditor'
        = dl.file_field :txt
    .field{:id => 'document_lang_' + dl.object.lang.downcase + '_description'}
      = dl.label :description
      = dl.text_field :description, :size => 150
    - if @permissions
      .field{:id => 'document_lang_' + dl.object.lang.downcase + '_status'}
        = dl.label :status
        = dl.select :status, Item::STATUSES
  %br

  .field
    = f.association :tags, as: :check_boxes, label_method: :english

  .field
    = f.label :notes
    = f.text_field :notes, :rows => 10

  .actions
    = f.submit 'Save'

