- @document.text_langs.each do |dl|
  %p.display_text
  - if dl.txt.url != '/txts/original/missing.png'
    %b File:
    /%iframe{:src => dl.txt.url, :class => 'pdf'}
    %object{:data => dl.txt.url, :type => 'application/pdf'}
      = link_to t(:click_here_for_download), dl.txt.url
  - else
    = dl.plain_text.html_safe
    %br
%p
  - @document.subtype_fields.keys.each do |f|
    %p
      %b= "#{f.to_s.titleize}: "
      = @document.subtype_fields[f]

