%h1= t(:editing) + " #{@doc_type_sym.to_s.titleize} " + t(:document)

= render 'form'

= link_to t(:show), @document #document_path(:type => params[:type], :id => @document.id)
\|
= link_to t(:back), :back
/:controller => "documents",
/:action => "index",
/:type => params[:type]
