%h1= "Editing #{@doc_type}"

= render 'form'

= link_to 'Show', @document #document_path(:type => params[:type], :id => @document.id)
\|
= link_to 'Back', :back
/:controller => "documents",
/:action => "index",
/:type => params[:type]
