%h1= t(:listing) + " #{params[:type].to_s.titleize}"

/ TODO: LOCALIZE
.content
  %table.doc-list
    %thead  
      %tr
        %td.type-and-langs{ :align => 'center' }
          = t(:type_and_langs_published)
        %td.title-and-description{ :align => 'center' }
          = t(:title_and_description)
        %td.date{ :align => 'center' }
          = t(:date_created)
        %td.space
        %td.actions{ :align => 'center' }
          = t(:actions)
    %tbody
      = render :partial => 'document_quickview', :collection => @documents, :as => :document
  = will_paginate @documents, :page_links => true, :previous_label => "Prev", :next_label => "Next"
%br

= link_to t(:submitadocument), new_document_choice_path
