%p
  %h3 Please select a type of document to upload:
%p
  = link_to t(:textnew), new_text_path
  = link_to t(:picturenew), new_picture_path
  = link_to t(:audionew), new_sound_path
  = link_to t(:videonew), new_video_path
  = link_to t(:othernew), new_binary_path
