%p
  %h3 Please select a type of document to upload:
%p
  = link_to "Text Document", new_text_path
  = link_to "Picture", new_picture_path
  = link_to "Audio File", new_sound_path
  = link_to "Video", new_video_path
  = link_to "Other (PPT, spreadsheet, etc)", new_binary_path
