%p#notice= notice

%p
  %b Name:
  = @document.name
  %br
  %b Date:
  = @document.date
%p
  - @document_langs.each do |dl|
    %p
      %b Title:
      = dl.title
      %br
      %b Translation:
      = dl.lang
      %br
      = dl.plain_text.html_safe
      / need to show iff text file is not missing
      %b File:
      = dl.txt
      %br
%p
  - @document.subtype_fields.keys.each do |f|
    %p
      %b= "#{f.to_s.titleize}"
      = @document.subtype_fields[f]

- if user_signed_in?
  %p
    %b Notes:
    %br
    = @document.notes

= render 'bottom_links', :document => @document
