%p
  %b Date:
  = @document.date

%p 
  = render 'show_' + @doc_type_sym.to_s

%p
  - @document_langs.sort.each do |dl|
    - if auth_to_view(dl)
      %h3= dl.lang
      - if user_signed_in?
        %b Publication status: 
        %b{:class => dl.status}= dl.status.humanize.titleize
      %p
        %b Title:
        = dl.title
        %br
        %b Description:
        %br
        = dl.description
- if user_signed_in?  
  %p
    %b Notes:
    %br
    = @document.notes

= render 'bottom_links', :document => @document
