%p#notice= notice

%p
  %b Name:
  = @document.name
  %br
  %b Date:
  = @document.date
%p
  = image_tag @document.pic.url
%p
  - @document_langs.each do |dl|
    %p
      %b Title:
      = dl.title
      %br
      %b Translation:
      = dl.lang
- if user_signed_in?
  %p
    %b Notes:
    %br
    = @document.notes

= render 'bottom_links', :document => @document
