%p
  %b Name:
  = @document.name
  %br
  %b Date:
  = @document.date

%p 
  = render 'show_' + @doc_type_sym.to_s

%p
  - @document_langs.each do |dl|
    %p
      %b Title:
      = dl.title
      %br
      %b Translation:
      = dl.lang
- if user_signed_in?  
  %p
    %b Notes:
    %br
    = @document.notes

= render 'bottom_links', :document => @document
