%p#notice= notice

%p
  %b Name:
  = @document.name
  = @document.date
%p
  - @document_langs.each do |dl|
    %p
      %b the title:
      = dl.title
      %br
      %b the translation:
      = dl.lang
- if user_signed_in?
  %p
    %b Notes:
    %br
    = @document.notes

= render 'bottom_links', :document => @document
