%p
  %b= t(:select_document_type) + ":"
%p
  /%button{:type => "button", :class => "btn"}
  = link_to t(:webarticle), new_text_path(:subtype => 'web')
%p
  /%button{:type => "button", :class => "btn"}
  = link_to t(:journalarticle), new_text_path(:subtype => 'journal')
%p
  /%button{:type => "button", :class => "btn"}
  = link_to t(:newspaperarticle), new_text_path(:subtype => 'newspaper')
%p
  /%button{:type => "button", :class => "btn"}
  = link_to t(:bookexcerpt), new_text_path(:subtype => 'book')
