%h2 Change your password

= form_for('edit_user', :url => "/dashboard/users/#{@user.id}/update_password") do |f|
  = f.hidden_field :reset_password_token
  %div
    = f.label :password, "New password"
    %br/
    = f.password_field :password, :autofocus => true
  %div
    = f.label :password_confirmation, "Confirm new password"
    %br/
    = f.password_field :password_confirmation
  %div= f.submit "Change my password"