= form_for 'new_user', :url => { :action => :create} do |form|
  - @fields.each do |field|
    - if field == :lang
      %text Language: 
      %text English
      = form.radio_button field, :English
      %text French
      = form.radio_button field, :French
    - else
      %text= field.to_s + ':'
      - if field == :role
        %text Editor
        = form.radio_button field, :Editor
        %text Manager
        = form.radio_button field, :Manager
        %text Tech
        = form.radio_button field, :Tech
      - elsif field =~ /pass/
        = form.password_field field
      - else
        = form.text_field field
    %br
  = form.submit 'Create New User'