= simple_form_for @tag do |f|
  - if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label t(:english)
    = f.text_field :english
  .field
    = f.label t(:french)
    = f.text_field :french
  .field
    = f.label t(:creole)
    = f.text_field :creole
  .field
    = f.label t(:spanish)
    = f.text_field :spanish
  .field
    = f.label :english_description
    = f.text_area :english_description
  .field
    = f.label :french_description
    = f.text_area :french_description
  .field
    = f.label :creole_description
    = f.text_area :creole_description
  .field
    = f.label :spanish_description
    = f.text_area :spanish_description
  .field
    = f.label t(:type)
    = f.select :cat, options_for_select([["Main Category", "main"], ["Subcategory", "sub"], ["Miscellaneous", "misc"]])
  .field
    = f.label t(:main_category)
    = f.select("parent_id", Tag.where(:cat => "main").collect {|p| [ p.send(locale_to_word), p.id ] }, { include_blank: true })

  .actions
    = f.submit t(:save)
