= form_for @tag do |f|
  - if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :english
    = f.text_field :english
  .field
    = f.label :french
    = f.text_field :french
  .field
    = f.label :creole
    = f.text_field :creole
  .field
    = f.label :spanish
    = f.text_field :spanish
  .field
    = f.label :english_description
    = f.text_area :english_description
  .field
    = f.label :french_description
    = f.text_area :french_description
  .field
    = f.label :creole_description
    = f.text_area :creole_description
  .field
    = f.label :spanish_description
    = f.text_area :spanish_description
  .field
    = f.label "Type"
    = f.select :cat, options_for_select([["Main Category", "main"], ["Subcategory", "sub"], ["Miscellaneous", "misc"]])
  .field
    = f.label "Main Category"
    = f.select :parent_id, options_for_select(@main_categories)

  .actions
    = f.submit t(:save)
