-if flash[:alert]
  %p.alert-danger= flash[:alert]
%h1=t(:tags)

%table
  %tr
    %th= t(:english)
    %th= t(:french)
    %th= t(:creole)
    %th= t(:spanish)
    %th= t(:actions)

  - @tags.each do |tag|
    %tr
      %td= tag.english
      %td= tag.french
      %td= tag.creole
      %td= tag.spanish
      %td= link_to t(:show), tag
      %td= link_to t(:edit), edit_tag_path(tag)
      %td= link_to t(:destroy), tag, :method => :delete, :data => { :confirm => t(:areyousure) }

%br

= link_to t(:newtag), new_tag_path
%br
= link_to t(:dashboard), dashboard_path
