-if flash[:alert]
  %p.alert-danger= flash[:alert]
%h1 Listing tags

%table
  %tr
    %th
    %th
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.english
      %td= tag.french
      %td= link_to t(:show), tag
      %td= link_to t(:edit), edit_tag_path(tag)
      %td= link_to t(:destroy), tag, :method => :delete, :data => { :confirm => t(:areyousure) }

%br

= link_to t(:newtag), new_tag_path
= link_to t(:backtodashboard), dashboard_path
