-if flash[:alert]
  %p.alert-danger= flash[:alert]
%h1 Listing tags

%table
  %tr
    %th
    %th
    %th

  - @tags.each do |tag|
    %tr
      %td= tag.english
      %td= tag.french
      %td= link_to 'Show', tag
      %td= link_to 'Edit', edit_tag_path(tag)
      %td= link_to 'Destroy', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tag', new_tag_path
= link_to 'Back to Dashboard', dashboard_path
