%p#notice= notice

%p
  %b="#{t(:english).capitalize}:"
  = @tag.english
  %br
  %b="#{t(:french).capitalize}:"
  = @tag.french
  %br
  %b="#{t(:creole).capitalize}:"
  = @tag.creole
  %br
  %b="#{t(:spanish).capitalize}:"
  = @tag.spanish
  %br
  %b="#{t(:type).capitalize}:"
  = @tag.cat


= link_to t(:edit), edit_tag_path(@tag)
\|
= link_to t(:back), tags_path
