.picture_partial
  = image_tag '/assets/picture_icon.png'
  %h2= picture.name
  %p
  author:
  = picture.author
  %br
  =picture.date
  -picture.text_langs.each do |pl|
    - if pl.published
      %p{:class => "published"}= pl.lang
    - else
      %p{:class => "notpublished"}= pl.lang


  %br
  = link_to 'Show', picture
  = link_to 'Edit', edit_picture_path(text)
  = link_to 'Destroy', picture, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
