%p#notice= notice

%p
  %b Name:
  = @picture.name
%p
  = image_tag @picture.pic.url
%p
  - @picture_langs.each do |pl|
    %p
      %b the title:
      = pl.title
      %br
      %b the translation:
      = pl.lang
- if user_signed_in?
  %p
    %b Notes:
    %br
    = @picture.notes

= link_to 'Edit', edit_picture_path(@picture)
\|
= link_to 'Back', pictures_path
