.sound_partial
  / = image_tag '/assets/sound_icon.png'
  %h2= sound.name
  %p
  author:
  = sound.author
  %br
  =sound.date
  -sound.sound_langs.each do |sl|
    - if sl.published
      %p{:class => "published"}= sl.lang
    - else
      %p{:class => "notpublished"}= sl.lang


  %br
  = link_to 'Show', sound
  = link_to 'Edit', edit_sound_path(text)
  = link_to 'Destroy', sound, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
