%h1 Listing binaries

%table
  %tr
    %th Name

  - @binaries.each do |binary|
    %tr
      %td= binary.name
      %td= link_to 'Show', binary
      %td= link_to 'Edit', edit_binary_path(binary)
      %td= link_to 'Destroy', binary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Binary', new_binary_path