= simple_form_for @text do |f|
  - if @text.errors.any?
    #error_explanation
      %h2= "#{pluralize(@text.errors.count, "error")} prohibited this text from being saved:"
      %ul
        - @text.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name

  .field
    = f.label :date
    = f.date_select :date

  = f.fields_for :text_langs do |tl|
    .field
      = tl.label :title
      = tl.text_field :title
    .field
      = tl.label :lang
      = tl.text_field :lang
    .field
      = tl.label :description
      = tl.text_field :description, :size => 150
    .field
      = tl.label :plain_text
      = tl.text_area :plain_text
    .field
      = tl.label :published
      = tl.check_box :published
    .field
      = tl.label :txt
      = tl.file_field :txt


  .field
    = f.association :tags,   as: :check_boxes, label_method: :english

  .field
    = f.label :notes
    = f.text_area :notes, :rows => 10

  .actions
    = f.submit 'Save'
