%p#notice= notice

%p
  %b Name:
  = @text.name
  = @text.date
%p
  - @text_langs.each do |pl|
    %p
      %b the title:
      = pl.title
      %br
      %b the translation:
      = pl.lang
      %br
      %b plain text:
      = pl.plain_text
      %br
- if user_signed_in?
  %p
    %b Notes:
    %br
    = @text.notes

= link_to 'Edit', edit_text_path(@text)
\|
= link_to 'Back', texts_path
