!!!
%html
  %head
    %title FightImpunityHaiti
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button{:type => "button", :class => "navbar-toggle"}
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
            %span{:class => "icon-bar"}
        .navbar-brand 
          Fight Impunity in Haiti
        .collapse.navbar-collapse
          %ul{:class => "nav navbar-nav"}
            %li= link_to "Home", '/'
            %li= link_to "About", {:controller => '/pages', :action => 'about'}
            %li= link_to "Contact", {:controller => '/pages', :action => 'contact'}
            - unless current_user
              %li= link_to t(:login), new_user_session_path
            -else 
              %li= link_to t(:logout), sessions_logout_path
          = render 'partials/languages'
    .rule_bl
    .container
      = yield
